.bg-img {
  background-image: url('bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-image: url('banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 100px;
}
.jumbotron .btn:hover {
  background-color: transparent;
}
.container.index-main {
  min-height: 70vh;
}
.circular {
  border-radius: 50%;
}
.feature-text {
  line-height: 3.5rem;
  margin-bottom: 0;
}
.course-desc {
  position: relative;
  margin-top: 1em;
  height: 60px;
  overflow: hidden;
  line-height: 1.2;
}
.course-desc.shadow::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.6));
}
div.card-text {
  line-height: 30px;
}
div.card-text img {
  margin: 0 10px;
}
.footer {
  margin-top: 50px;
  padding:  20px 100px;
  background-color: #d1e5eb;
  background-image: url(wall.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer .nav-link {
  color: black;
}
.AIDesign-desc {
  font-size: 14px;
  line-height: 1.4;
}
.help-badge {
  height: 1.8em;
  line-height: 130%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
}
#addCert {
  margin-right: 31px;
}
.bg-gray{
  background: #afb99f;
}
.btn {
  cursor: pointer;
}