<div class="container-fluid footer">
  <div class="row align-items-center">
    <div class="col-md-4">
      <img src="static/AIDesign.png" />
      <p class="AIDesign-desc d-sm-none">
        A&I Design is a young endurance design studio start-up,<br/> We help our lients define and articulate their brand,<br/>          our creative team is made up of artists, illustrators,<br/> designers, and developers.
      </p>
      <div class="text-muted"><small>© 2017 A&I Design. All rights reserved.</small></div>
    </div>
    <div class="col-md-8 d-sm-none">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="http://aidesign.ml">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://github.com/integ">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://adede.ml">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://aidesign.ml/shop">Shop</a>
        </li>
      </ul>
    </div>
  </div>
</div>