<!DOCTYPE html>
<html>

<head>
  <title>Courscert - coursera certifications</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/report.css">
</head>

<body class="bg-img">
  <div class="container index-main">
    <h1 class="text-center mt-5"><img src="static/logo.png"></h1>
    <h3 class="text-center mt-3 text-muted">Make a report of all your Coursera Certifications</h3>
    <div class="row justify-content-center mt-3">
      <form class="col-5" method="GET" action="/report">
        <div class="form-group">
          <label for="given_name">Given Name</label>
          <input type="text" id="given_name" class="form-control" name="given_name" aria-describedby="nameHelp" placeholder="Enter your given name">
          <small id="nameHelp" class="form-text text-muted">Must be same with the given name on your certifications.</small>
        </div>
        <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" id="surname" class="form-control" name="surname" aria-describedby="surnameHelp" placeholder="Enter your surname">
          <small id="surnameHelp" class="form-text text-muted">Must be same with the surname on your certifications.</small>
        </div>
        <div class="form-group">
          <label for="vert1">Certification 1</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">https://coursera.org/verify/</span>
            <input type="text" class="form-control" name="certs" id="cert1" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="form-group">
          <a href="javascript:void(0)" class="" id="addCert">Add more certifications</a>
        </div>
        <div class="form-group clearfix">
          <button type="submit" class="float-right btn btn-primary">Verify and Make Report</button>
        </div>
      </form>
    </div>
  </div>
  {% include 'footer.html' %}
  <div id="loading" class="modal"><img src="static/loading.gif" width="150" /></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="static/index.js"></script>
</body>

</html>
